if navigation
	header(id="header")
		nav(class="header--navigation")
			a(href=Link(document) class="title" title="Home" aria-label="Home" role="link" tabindex="0")
				span ACTTA STUDIO
			ul.links
				li.link
					each item in navigation.data.contact_information
						a(href=item.link.url target=item.link.target data-link="external")=item.label
				li(class="link link--language")
					a(href=Link(navigation.alternate_languages[0]) data-state="disabled")
						span(class="wrap")
							span=LangString(navigation.alternate_languages[0].lang)
					
