.page {
  width: 100vw;

  // visibility: hidden;

  // template
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@import "./home";
@import "./notFound";
