#logo {
  width: 64.7rem;
  position: fixed;
  z-index: z("logo");
  will-change: transform;
  pointer-events: none;

  @include media("<=tablet") {
    width: 20rem;
  }

  @include media("<=phone") {
    width: 19.8rem;
  }
}

// .squares {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100dvh;

//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   overflow: hidden;

//   pointer-events: none;

//   z-index: z("logo");
// }

@media screen and (max-width: 768px) {
  .squares {
    grid-template-columns: repeat(5, 1fr);
  }
}

.squares .square {
  background-color: $color-grey;
  aspect-ratio: 1/1;
  opacity: 0;
}
