:root {
  --layout-margin: 4rem;
}

@include media("<=tablet") {
  :root {
    --layout-margin: 2rem;
  }
}

@include media("<=phone") {
  :root {
    --layout-margin: 1rem;
  }
}

$color-white: #f5f5f5;
$color-grey: #3f3f3f;
$color-black: #1b1b1b;
$color-green: #2cce3e;

$z-indexes: (
  "dev",
  "transition",
  "preloader",
  "top",
  "navigation",
  "footer",
  "content",
  "logo",
  "unsupported"
);
