.page--home {
  position: relative;
  background-color: transparent;
  padding: var(--layout-margin);
  padding-top: calc(3rem + 0.15rem);
  min-height: 100dvh;

  @include media("<=tablet") {
    padding-top: 2rem;
  }

  @include media("<=phone") {
    padding-top: 2.4rem;
  }

  justify-content: initial;
  align-items: initial;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  row-gap: 17.3rem;
  align-items: start;
  grid-template-areas:
    ". . . about about about about services services . . ."
    "logo logo logo logo logo logo logo logo logo logo logo logo";

  @include media("<=tablet") {
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
    min-height: calc(100dvh - 17.1rem);
    padding-top: 17.1rem;
  }

  @include media("<=phone") {
    padding-top: 14.3rem;
    min-height: calc(100dvh - 14.3rem);
  }
}

.page--home .about {
  position: relative;
  grid-area: about;
  z-index: z("top");
}

.page--home .about .wrapper {
  display: block;
  font-size: 1.6rem;
  text-transform: uppercase;
  overflow: hidden;

  @include media("<=tablet") {
    font-size: 1.8rem;
  }

  @include media("<=phone") {
    font-size: 1.5rem;
  }
}

.page--home .about .wrapper:first-child,
.page--home .service-title {
  font-weight: 700;
}

.page--home .about .wrapper .text {
  // display: block;
  // visibility: hidden;
}

.page--home .about .space {
  margin: 3.1rem 0;
  display: block;
}

.page--home .services {
  grid-area: services;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 3.1rem;
  z-index: z("top");

  @include media("<=tablet") {
    width: 100%;
  }
}

.page--home .c {
  --scale: 1;
  display: inline-block;
  position: relative;
  // visibility: hidden;
}

.page--home .c::before {
  transform: scaleY(var(--scale));
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black;
  z-index: 2;
  transform-origin: bottom;
}

.page--home .line {
  overflow: hidden;
}

.page--home .services ul {
  @include media("<=phone") {
    column-gap: 8.4rem;
  }
}

.page--home .service-title {
  position: relative;
  font-size: 1.6rem;
  display: block;
  overflow: hidden;

  @include media("<=tablet") {
    font-weight: 700;
  }

  @include media("<=tablet") {
    font-size: 1.8rem;
  }

  @include media("<=phone") {
    font-size: 1.5rem;
  }
}

.page--home .service-title .line {
  display: block;
  overflow: hidden;
  // visibility: hidden;
}

.page--home .services .service {
  font-size: 1.6rem;
  text-transform: uppercase;

  display: flex;
  align-items: flex-end;
  overflow: hidden;

  @include media("<=tablet") {
    gap: 2.1rem;
    font-size: 1.6rem;
  }

  @include media("<=phone") {
    gap: 1.14rem;
    font-size: 1.5rem;
  }
}

.page--home .services .service .line {
  display: block;
  // visibility: hidden;
}

.page--home .services .service svg {
  display: none;

  @include media("<=tablet") {
    display: block;
    width: 2rem;
    height: 2.7rem;
  }

  @include media("<=phone") {
    width: 1.6rem;
    height: 2.2rem;
  }
}

.page--home .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-area: logo;
}

.page--home .logo img {
  width: 70rem;
  height: auto;
  object-fit: cover;

  @include media("<=tablet") {
    width: 37.2rem;
  }

  @include media("<=phone") {
    width: 34rem;
  }
}

.page--home .break {
  display: inline-block;

  @include media("<=tablet") {
    height: 1.8rem;
  }

  @include media("<=phone") {
    height: 1.5rem;
  }
}
